<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta
      name="description"
      content="Web site created using create-react-app"
    />
    <link rel="apple-touch-icon" href="logo192.png" />
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <title>R and m chars search</title>
    <style>
      * {
        font-family: 'Roboto', sans-serif;
      }
    </style>
    <script>
      window.config = {
        baseApiUrl: '<%=apiUrl%>',
        testing: <%=testing%>,
      }
    </script>
  </head>
  <body style="background-color: #36675f;">
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
  </body>
</html>
